.kanban__container {
  grid-template-columns: 100%;
}

@media screen and (min-width: 576px) {
  .kanban__container {
    grid-template-columns: 350px;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .kanban__container {
    grid-template-columns: 640px;
    justify-content: center;
  }
}

@media screen and (min-width: 1150px) {
  .kanban__container {
    grid-template-columns: 100%;
    justify-content: center;
  }
}

.kanban__slider {
  display: flex;
  align-items: start;
  overflow-x: auto;
  scrollbar-width: 0;
  gap: 1rem;
}

@media screen and (min-width: 1150px) {
  .kanban__slider {
    justify-content: center;
  }
}

.kanban__slider::-webkit-scrollbar {
  display: none;
}
