.project__card {
  position: relative;
  row-gap: 0.8rem;
  background-color: var(--container-color);
  padding: 1.3rem;
  border-radius: 0.3rem;
  box-shadow: 0 12px 24px var(--shadow-color);
  align-self: start;
}

.project__card span {
  text-align: end;
  font-weight: var(--font-semi-bold);
}

.project__card .button {
  margin-top: 0.7rem;
  text-transform: capitalize;
  text-align: center;
}

.project__options {
  position: absolute;
  right: 8px;
  top: 8px;
}

.project__options:hover {
  cursor: pointer;
}

.project__options-display {
  position: absolute;
  right: -25px;
  top: 30px;
  width: 100px;
  border: 1px solid var(--first-color);
  background-color: var(--container-color);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  z-index: var(--z-back);
  opacity: 0;
  transition: opacity 0.2s, z-index 0.2s;
}

.project__options-display.show {
  z-index: var(--z-fixed);
  opacity: 1;
}

.project__display-action {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3px;
}

.project__display-action:hover {
  cursor: pointer;
  background-color: #cfcfcf;
}